*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Phần đầu trang */

header{
    height: 60px;
    display: inline-block;
    background-color: #162938;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 10;
}



#nav {
    display: inline-block;
}


#nav .nav-main li {
    display: inline-block;
    position: relative;
}


#nav .sub-nav{
    display: none;
    position: absolute;
    background-color: #162938;
}

#nav li:hover .sub-nav {
    display: block;
    animation: moving .5s ease;
}

@keyframes moving{
    from{
        transform: translateX(50px); opacity: 0;
    }
    to{
        transform: translateX(0); opacity: 1;
    }
}

#nav .sub-nav li{
    width: 100%;
}


#login{
    height: 60px;
    float: right;
    line-height: 60px;
    margin-right: 36px;
}

#login .login-btn{
    width: 150px;
    height: 80%;
    border: none;
    color: #fff;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    font-weight: bold;
    font-size: 1rem;
    background-color: transparent;
    padding: 14px 20px;
    cursor: pointer;
    font-weight: 500;
    transition: .5s;
}
.nav-main li:hover > a{
    background-color: #ccc;
}

    
#login .login-btn:hover{
    background-color: #fff;
}
#login .login-btn:hover a{
    color: #162938;
}

a{
    text-decoration: none;
    color: #fff;
}

#nav .nav-main a{
    display: block;
    line-height: 60px;
    padding: 0 24px;
    font-weight: bold;
}

/* Phần content */

#content{
    display: inline-block;
    width: 100%;
}
#content .introduce{
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('/assets/img/bng-login.webp') center / cover no-repeat;
}


#content .introduce .box-intro{
    width: 48%;
    min-height: 500px;
    background-color: transparent;
    border: 5px solid #fff;
    margin: 10px 10px;
    border-radius: 6%;
    color: #162938;
    backdrop-filter: blur(20px);
}

#content h3{
    color: #fff;
    text-align: center;
    padding-bottom: 12px;
}

#content .box-intro p{
    color: #fff;
    padding: 6px 24px;
}

#content .introduce .box-useful{
    width: 48%;
    min-height: 500px;
    background-color: transparent;
    border: 5px solid #fff;
    margin: 10px 10px;
    border-radius: 6%;
    color: #162938;
    backdrop-filter: blur(20px);
}


#content .member{
    color: #fff;    
    padding: 6px 0;
    padding-left: 50px;
}

.introduce .box-useful ol{
    color: #fff;
    padding: 6px 0;
    padding-left: 40px;
    font-weight: bold;
}

.introduce .box-useful p{
    padding: 0;
    font-weight: lighter;
}

/* Phần chân trang web */
footer{
    display: block;
    height: 150px;
    background-color: #000;
}

footer h3{
    color: #fff;
    font-size: 1rem;
    padding: 12px 24px;
}

footer > a{
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: lighter;
}

.social-icon li{
    display: inline-block;
}

.social-icon a{
    padding: 12px 24px;
    font-size: 1rem;
}

/* slider */
.slider-bng{
    max-width: 100%;
    margin-top: 60px auto 0;
    background: url('/assets/img/bng-chat.jpg') top center / cover no-repeat;
    position: relative;
    padding-bottom: 25px;
}   

.slider{
    max-width: 1000px;
    position: relative;
    padding-top: 15px;
    margin: 60px auto 0;
}

.slider-bng h3{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
}

.slider-wrapper{
    width: 100%;
    height: 550px;
    position: relative;
    overflow: hidden;
    display: flex;
}

.slider-main{
    display: flex;
    position: relative;
}

.slider-main.active{
    transition: transform .25s linear;
}

.slider-item{
    width: 100%;
    height: 93%;
    flex: 1 0 100%;
    border: 3px solid #fff;
    border-radius: 20px;
}

.slider-main img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}


.login-btn.active{
    display: none;
}
