

header{
    background-color: transparent;
    backdrop-filter: blur(20px);
    border-bottom: 5px solid #162938;
}

header a{
    color: #162938;
}

#nav .sub-nav{
    background-color: transparent;
    border: 2px solid #162938;
    backdrop-filter: blur(20px);
}

.nav-main li:hover > a{
    background-color: #162938;
    color: #fff;
}

#login .login-btn{
    border: 2px solid #162938;
}
  
#login .login-btn:hover {
    background-color: #fff;
}

#leader-main .leader-t{
    margin: 75px 0;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

#leader-main{
    min-height: 650px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: #917FB3;
    text-align: center;
}

.leader-t::before{
    content: "Bảng Xếp Hạng" ;
    color: #162938;
    font-weight: 1000;
    font-size: 36px;
    position: absolute;
    top: 25px;
}

.leader-t #leader-table{
    height: auto;
    width: 50%;  
    font-weight: 500;
    border: 2px solid #162938;
    border-radius: 25px;
    margin-top: 10%;
}   

tr{
    line-height: 40px;
}