@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100%;
    background-color: #343541;
    display: flex;
    justify-content: center;
}


header{
    background-color: #202123;
}

.nav-main li:hover > a{
    background-color: #343541;
    color: #fff;
}

.container{
    width: 100%;
    text-align: center;
    margin-top: 60px;
    padding: 100px 0;
}

.container h2{
    color: #fff;
    text-transform: uppercase;
}

.container p{
    color: #fff;
    margin: 15px 0;
    font-weight: 500;
}

.chat_input{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.chat_input textarea{
    padding: 12px 0 12px 16px;
    width: 80%;
    height: 100%;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    border-radius: 15px;
    background-color: #40414F;
    color: #ECECF1;
}

textarea:focus, input:focus{
    outline: 0;
}

*:focus {
    outline: 0;
}


.chat_input button{
    width: 18%;
    background-color: rgb(30, 48, 80);
    border: none;
    border-radius: 15px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.chat{
    width: 50%;
    margin: 15px auto;
    padding: 12px 24px;
    text-align: justify;
    font-size: 1rem;
    font-weight: 400;
    background-color: #FFFFFF0D;
    border-radius: 15px;
    transition: all .5s ease-out;
}

/* loading  */
.continuous-4 {
    width: 80%;
    height: 25px;
    margin: auto;
    border-radius: 40px;
    color: #514b82;
    border: 2px solid;
    position: relative;
    overflow: hidden;
  }
  
  .continuous-4::before {
    content: "";
    position: absolute;
    margin: 2px;
    width: 14px;
    top: 0;
    bottom: 0;
    left: -20px;
    border-radius: inherit;
    background: currentColor;
    box-shadow: -10px 0 12px 3px currentColor;
    clip-path: polygon(0 5%, 100% 0,100% 100%,0 95%,-30px 50%);
    animation: loading 1.5s infinite linear;
  }
  
  @keyframes loading {
    100% {left: calc(100% + 20px)}
  }