

header{
    background-color: #E76161;
    border-bottom: 5px solid #FFFBCC;
}

header a{
    color: #FFFBCC;
}

#nav .sub-nav{
    background-color: transparent;
    border: 2px solid #162938;
    backdrop-filter: blur(20px);
}

.nav-main li:hover > a{
    background-color: #FFFBCC;
    color: #E76161;
}

#login .login-btn{
    border: 2px solid #FFFBCC;
}
  
#login .login-btn:hover {
    background-color: #FFFBCC;
    color: #E76161;
}

#leader-main .leader-t{
    margin: 75px 0;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

#leader-main{
    min-height: 650px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: #e2ac85;
    text-align: center;
}

.leader-t::before{
    content: "Bảng Xếp Hạng" ;
    color: #F5E9CF;
    font-weight: 1000;
    font-size: 36px;
    position: absolute;
    top: 25px;
}

.leader-t #leader-table{
    background-color: #F4FAB3;
    height: auto;
    width: 70%;  
    font-weight: 500;
    border: 3px solid #E76161;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10%;
}   

tr{
    line-height: 40px;
}

td a{
    color: #181823;
}

#leader-table th{
    color: #E76161;
}

#body-table td{
    color: #181823;
}

.fa-solid.fa-medal.rank1{
    color: #ddb52f;
    font-size: 1.5rem;
}

.fa-solid.fa-medal.rank2{
    color: #ACB1D6;
    font-size: 1.3rem;
}

.fa-solid.fa-medal.rank3{
    color: #9E6F21;
    font-size: 1.1rem;
}