*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


header{
    height: 60px;
    display: inline-block;
    background-color: #47b2cf;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 10;
}


#nav {
    display: inline-block;
}


#nav .nav-main li {
    display: inline-block;
    position: relative;
}

#nav .sub-nav{
    display: none;
    position: absolute;
    background-color: #47b2cf;
}

#nav li:hover .sub-nav {
    display: block;
}

#nav .sub-nav li{
    width: 100%;
}

#login{
    height: 60px;
    float: right;
    line-height: 60px;
}

#login .login-btn{
    display: block;
    width: auto;
    height: 100%;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    background-color: #47b2cf;
    padding: 14px 20px;
    cursor: pointer;
}
.nav-main li:hover > a{
    background-color: #ccc;
}

#login .login-btn:hover {
    background-color: bisque;
}

#nav .nav-main a{
    display: block;
    color: #fff;
    text-decoration: none;
    line-height: 60px;
    padding: 0 24px;
    font-weight: bold;
}

#content{
    display: inline-block;
    width: 100%;
    margin-top: 60px;
}
#content .introduce{
    position: relative;
}
#content .introduce .box-intro{
    width: 50%;
    min-height: 500px;
    background-color: #000;
    margin: 10px 10px;
    border-radius: 15px;
}

#content h3{
    color: #fff;
    padding: 12px 24px;
}

#content p{
    color: #fff;
    padding: 6px 24px;
}


#content .member{
    color: #fff;    
    padding: 6px 0;
    padding-left: 50px;
}

#content .img-school{
    width: 45%;
    height: auto;
    position: absolute;
    top: 15%; 
    left: 53%;
}

#content .img-school img{
    width: 100%;
}