*{
    margin:0;
    padding:0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:100vh;
    text-align: center;
    background-image:url("/assets/img/bng-login.webp");
    color: #fff;    
}

a{
    text-decoration: none;
    color: white;
}

.profile{
    width: 40%;
    height: 50%;
    position: relative;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 20px;    
    backdrop-filter: blur(20px);
}

.profile div{
    padding: 8px 24px;
}

.profile img{
    width: 25%;
    border-radius: 50%;
    padding: 12px 24px;
}

.btnLogout{
    font-size: 1rem;
    font-weight: 500;
    width: 100px;
    height: 50px;
    cursor: pointer;
}