
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: transparent;
    border-bottom: 5px solid #162938;
}

header a{
    color: #162938;
}

#nav .sub-nav{
    background-color: transparent;
    border: 2px solid #162938;
    backdrop-filter: blur(20px);
}

.nav-main li:hover > a{
    background-color: #162938;
    color: #fff;
}

body{
    background: url('/assets/img/bng-chat.jpg') top / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 90%;
    background: transparent;
    backdrop-filter: blur(20px);
    padding: 30px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, .1);
    border-radius: 20px;
}

.tab-box{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #162938;
}

.tab-box .tab-btn{
    background: transparent;
    width: 150px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: #162938;
    padding: 10px;
    cursor: pointer;
}

.tab-box .tab-btn.active{
    color: #B25068;
    border-bottom: 3px solid #fff;
    transition: .5s ease;
}

.content-box{
    padding: 20px;
}

.content-box .content{
    display: none;
}

.content-box .content.active{
    display: block;
    animation: moving .5s ease;
}

.content-box .content h2{
    margin-bottom: 10px;
}